body {
    background-color: black;
    color: white;
    user-select: none;
}

#main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    border: olive 2px solid;
    border-radius: 10px;
}
#coin-container {
    width: 10em;
    height: 10em;
    border: blue 2px solid;
    border-radius: 50%;
    box-shadow: blue 0 0 10px;
    margin: 20px;
    cursor: pointer;
}
@keyframes coin-flip {
    0% {
        rotate: y 0deg;
    }
    100% {
        rotate: y 180deg;
    }
}
.coin-side {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -75%;
    
    font-size: 3em;
    font-weight: bold;
    color: blue;
}
body.coin-flip .coin-side {
    translate: -50% -50%;
}
@keyframes side1 {
    0%, 50% {
        rotate: y 90deg;
    }
    100% {
        rotate: y 180deg;
    }
}
@keyframes side2 {
    0% {
        rotate: y 0deg;
    }
    100% {
        rotate: y 90deg;
    }
}
.coin-side-1 {
    animation: side1 1s forwards;
}
.coin-side-2 {
    animation: side2 .5s forwards;
}
#coin-msg {
    font-size: small;
    color: gray;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: x-small;
}
footer  a {
    color: olive;
}