body {
    background-color: black;
    color: white;
    user-select: none;
}

body.coin-flipped #main {
    border: none;
}
#coin-parent {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coin-container {
    position: absolute;
    width: 10em;
    height: 10em;
    border: blue 2px solid;
    border-radius: 50%;
    box-shadow: blue 0 0 10px;
    margin: 20px;
    cursor: pointer;
}
body.coin-flipped .coin-container {
    scale: 1.5;
}
@keyframes coin-flip {
    0% {
        rotate: y 0deg;
    }
    100% {
        rotate: y 180deg;
    }
}
.coin-side {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    
    font-size: 3em;
    font-weight: bold;
    color: blue;
}
@keyframes side1 {
    0%, 50% {
        rotate: y 90deg;
    }
    100% {
        rotate: y 180deg;
    }
}
@keyframes side2 {
    0% {
        rotate: y 0deg;
    }
    100% {
        rotate: y 90deg;
    }
}
.coin-side-1 {
    animation: side1 1s forwards;
}
.coin-side-2 {
    animation: side2 .5s forwards;
}
.init-coin-side {
    animation: none !important;
}
#coin-tail-container {
    rotate: y 90deg;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: x-small;
}
footer  a {
    color: olive;
}